@{
    Layout = "_AdminLayout";

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
  
 <div class="container-fluid">

<table id="t1">

    <tr>
        <th>Name</th>

  <th>desc</th>
    </tr>

</table>

<table id="category">

      <caption>weltec ahmedabad</caption>


</table>

</div>

</div>


@section Scripts
{
<script>

$(document).ready(function(){


    

           $("#category").DataTable({
                "ajax": {
                    "url": "/DisplayData/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "categoryName" },
                    { "data": "description" },
                   

                ],
                "language": {

                    "emptyTable": "No data found"
                }
            });
     
});





</script>
}